
.approverChoiceBtn {
    background-color:#5ec0fd;
	border-radius:7px;
	border:1px solid #5ec0fd;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 20px;
}

.approverChoiceBtn:active {
    position:relative;
	top:1px;
}

.btnDiv {
    margin-top:10px;
    margin-left: 370px;
}
.registBtn {
    background-color:#5ec0fd;
	border-radius:5px;
	border:1px solid #5ec0fd;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5px 30px;
    margin-right: 10px;
}

.registBtn:active {
    position:relative;
	top:1px;
}

.cancleBtn {
    background-color:#F5F5F5;
	border-radius:5px;
	border:1px solid #5ec0fd;
	display:inline-block;
	cursor:pointer;
	color:#9D9D9D;
	font-family:Arial;
	font-size:17px;
	padding:5px 30px;
    margin-top:10px;
}

.cancleBtn:active {
    position:relative;
	top:1px;
}

.ckCSS {
    height: 450px;
}

.appDocNo {
    height: 30px;
}

.appEndDate {
    height: 30px;
}

.appTitle {
    width: 1000px;
    height: 30px;
}