.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.modalContainer{
    position: absolute;
    width: 800px;
    height: 700px;
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);    
    z-index: 1000;
}

.choiceTitle {
    font-size: 38px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
}

.choiceDep {
    background-color:#90D5FF;
	border:none;
	display:inline-block;
	font-size:18px;
    margin-left: 10px;
    width: 200px;
    height: 50px;
    border-bottom: 1px solid white;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
}

.choiceEmp {
    background-color:#90D5FF;
	border:none;
	display:inline-block;
	font-size:18px;
    position:relative;
    /* bottom: 30px; */
    width: 200px;
    height: 50px;
    border-bottom: 1px solid white;
    justify-content: center;
    align-items: center;
    display: flex;

    color: #ffffff;
}

.depBtn {
    background-color:#FCFCFC;
	border:none;
	display:inline-block;
	cursor:pointer;
	font-size:18px;
    margin-right: 580px;
    width: 200px;
    height: 60px;
    border-bottom: 1px solid white;
}

.depBtn:hover {
    background-color:#F1F1F1;
}

.empName {
    /* float: right; */
    /* margin-right: 350px; */
    width: 500px;
    height: 500px;
    /* background-color: antiquewhite; */
    overflow: auto;
}


.depCheck {
    cursor: pointer; 
}


.empInfo {
    overflow: auto;
    background-color:#FCFCFC;
	border:none;
	display:inline-block;
	font-size:18px;
    width: 200px;
    height: 60px;
    border-bottom: 1px solid white;
    margin-top:20px;
    margin-right: 60px;
}

.checkApprover {
    background-color:#e3e3e3;
	border:none;
	display:inline-block;
    
	font-size:18px;
    /* position:relative; */
    /* left:500px; */
    /* bottom:290px; */
    width: 200px;
    height: 50px;
    border-bottom: 1px solid white;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    color: #ffffff;
}

.checkApproverOK {
    border:none;
	display:inline-block;
	font-size:18px;
    position:relative;
    /* left:500px; */
    /* bottom:290px; */
    left:25px;
    width: 200px;
    height: 50px;
    border-bottom: 1px solid white;
    justify-content: center;
    align-items: center;
    display: flex;
    color : balck;
}

.test {
    /* background-color: green; */
    height: 291px;
    width: 200px;
    float: left;
}

.test1 {
    /* background-color: yellow; */
    
    width: 500px;
    float: right;
}

.test2 {
    /* background-color: beige; */
    float: left;

    width: 250px;
    
}

.test3 {
    /* background-color: rgb(192, 192, 58); */
    float: right;

    width: 250px;
    
}

.clickBtn {
    width: 200px;
    height: 30px;
    margin-right: 250px;
    background-color:#90D5FF;
    border: 1px solid white;
    color : white}