.box {
    width: 1450px;
    height: 50%;
}

.title {
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 70px;
    font-size: 50px;
}

.sender {
    font-size: 25px;
    margin-left: 32px;
    margin-right: 10px;
}

.senderinput {
    width: 400px;
    height: 30px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin-right: 15px;
    border: 1.5px solid #B3B3B3;
    font-size: 20px;
}

.senderinput:focus {
    border: 2px solid #B3B3B3;
    box-shadow: none;
}

.searchBtn {
    background-color:#5ec0fd;
	border-radius:7%;
	border:1px solid #5ec0fd;
	display:inline-block;
	cursor:pointer;
	font-size:20px;
    margin-left: 10px;
    width: 100px;
    height: 50px;
    color: white;
}

.newMcontent {
    margin-left: 38px;
    margin-top: 30px;
    padding: 15px 15px 15px 15px;
    width: 1345px;
    height: 500px;
    resize: none;
    font-family: 'S-CoreDream-3Light';
    font-size: 20px;
    border-radius: 7px;
    border: 1px solid #B3B3B3;
}

.newMbtn {
    margin-top: 30px;
    margin-left: 610px;
}

.newMsendBtn {
    background-color:#5ec0fd;
	border-radius:10%;
	border:1px solid #5ec0fd;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
    margin-left: 10px;
    width: 100px;
    height: 43px;
}

.newMcancelBtn {
    background-color:#B3B3B3;
	border-radius:10%;
	border:1px solid #B3B3B3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
    margin-left: 10px;
    width: 100px;
    height: 43px;
}