@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YanoljaYacheR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YanoljaYacheR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Nanum Gothic Coding', monospace;
}

.main{
    width: 1470px;
    height: 100%;
    background-color: a;
}

.unreadMessage {
    background-color: rgba(232, 248, 255, 1);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.unreadMessage:hover {
    background-color: rgba(186, 229, 254, 1);
    cursor: pointer;
}

.unreadNum {
    color: blue;
}