.survey {
    width: 1470px;
    height: 969px;

}

.text {
    font-size: 60px;
    border-bottom: 1px solid black;
}



.surMain {
    /* background-color: yellow; */
    margin-top: 10px;
    width: 1470px;
    height: 350px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.surMainBox {
    /* background-color: antiquewhite; */
    width: 200px;
    height: 350px;
    float: left;
}

.surButton {
    width: 180px;
    height: 50px;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.surButton:hover {
    background-color: #D9D9D9;
    
}

.surSubBox {
    height: 350px;
    width: 1470px;
}



.surFlexBox1 {
    width: 1240px;
    height: 330px;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
}

/* .surFlexBox1 tr{
    float: left;
    width: 400px;
    height: 300px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 10px;
} */

.surBox{
    float: left;
    width: 400px;
    height: 300px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 10px;
}

.surTitle{
    background-color: beige;
    width: 100px;
}

.surIngBox{
    border: none;
    margin-left: 15px;
    margin-top: 10px;
    width: 70px;
    height: 30px;
    background-color: #BAE5FE;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    
}




/* 슬라이드배너 css*/
.rolling {
    width: 1470px;
    height: 500px;
    overflow: hidden;
    margin-top: 10px;

}

.banner {
    width: calc(1470px*4);
    height: 500px;
    display: flex;
    animation: animation1 10s infinite;
    /*기본 전환 animation을 위한 설정*/
    -webkit-transition: all 0.5s cubic-bezier(1, .01, .32, 1);
    -moz-transition: all 0.5s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.5s cubic-bezier(1, .01, .32, 1);
    -ms-transition: all 0.5s cubic-bezier(1, .01, .32, 1);
    transition: all 0.5s cubic-bezier(1, .01, .32, 1);
}

.banner>div {
    width: 1470px;
    height: 500px;
}

.banner>div:nth-child(1) {
    background-image: url('../../../public/static/images/설문조사.png');
}

.banner>div:nth-child(2) {
    background-image: url('../../../public/static/images/탕비실설문.png');
}

.banner>div:nth-child(3) {
    background-image: url('../../../public/static/images/회식설문.png');
}

.banner>div:nth-child(4) {
    background-image: url('../../../public/static/images/근무설문.png');
}

.listbutton {
    width: 1470px;
    height: 10px;
    display: flex;
    justify-content: center;
    margin-top: -30px;
    position: absolute;
    z-index: 2;
}

.listButtonItem {
    width: 10px;
    height: 10px;
    border-radius: 5rem;
    background-color: black;
    cursor: pointer;
    display: inline-block;
    margin: 6px;
}

.listButtonItem:hover {
    background-color: white;
}

@keyframes animation1 {
    0% {
        margin-left: 0
    }

    20% {
        margin-left: 0
    }

    25% {
        margin-left: -100%
    }

    45% {
        margin-left: -100%
    }

    50% {
        margin-left: -200%
    }

    70% {
        margin-left: -200%
    }

    75% {
        margin-left: -300%
    }

    95% {
        margin-left: -300%
    }

    100% {
        margin-left: 0
    }
}

@keyframes animation2 {
    0% {
        margin-left: -100%
    }

    20% {
        margin-left: -100%
    }

    25% {
        margin-left: -200%
    }

    45% {
        margin-left: -200%
    }

    50% {
        margin-left: -300%
    }

    70% {
        margin-left: -300%
    }

    75% {
        margin-left: 0
    }

    95% {
        margin-left: 0
    }

    100% {
        margin-left: -100%
    }
}

@keyframes animation3 {
    0% {
        margin-left: -200%
    }

    20% {
        margin-left: -200%
    }

    25% {
        margin-left: -300%
    }

    45% {
        margin-left: -300%
    }

    50% {
        margin-left: 0
    }

    70% {
        margin-left: 0
    }

    75% {
        margin-left: -100%
    }

    95% {
        margin-left: -100%
    }

    100% {
        margin-left: -200%
    }
}

@keyframes animation4 {
    0% {
        margin-left: -300%
    }

    20% {
        margin-left: -300%
    }

    25% {
        margin-left: 0
    }

    45% {
        margin-left: 0
    }

    50% {
        margin-left: -100%
    }

    70% {
        margin-left: -100%
    }

    75% {
        margin-left: -200%
    }

    95% {
        margin-left: -200%
    }

    100% {
        margin-left: -300%
    }
}