.box {
    width: 1450px;
    height: 50%;
}

.categoryBtn {
    position: relative;
    top: 30px;
    left: 340px;
    cursor: pointer;
}

.checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: top;
}

.container {
    width: 1300px;
    margin-left: 80px;
}
