.box {
    width: 1450px;
    height: 50%;
}

.title {
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 70px;
    font-size: 50px;
}

.category {
    margin-left: 35px;
    font-size: 23px;
    padding: 5px 5px 5px 5px;
}