.sidebar {
    width: 250px;
}

img {
    margin-top: 40px;
    width: 250px;
    height: 20px;
    object-fit: contain;
}

.HeaderProfile {
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.HeaderlistUl h1 {
    text-align: center;
}

.HeaderlistUl {
    cursor: pointer;
    background: #E8F8FF;
    list-style: none;   
}

.comName {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'ChosunSg';
    font-size: 40px;
    text-align: center;
}

.ProfileDiv {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
    background-color: #E8F8FF;
}

.profilename {
    font-size: 18px;
}

.section {
    color: #3dabeb;
}

.HeaderHomebtn {
    /* margin-top: 20px; */
    text-align: center;
}

.LogoBtn {
    border: none;
    background: #E8F8FF;
    font-size: x-large;
}

.NavlistUl {
    
    background: #E8F8FF;
    
    list-style: none;
    
}

.NavlistUl li {
    line-height: 5;
    height: auto;
    border-bottom: 1px solid #E8F8FF;
    text-align: center;
}

.NavlistDiv{
    
    margin: 0 auto;
}


.NavlistUl li:hover {
    background-color: #BAE5FE;
    cursor: pointer;
    
}

.NavlistUl  a{
    margin-left: 20px;
}

a {
    text-decoration: none;    
    color: black;
    
}

a:hover, a:focus, a:active{
    text-decoration: none;
    font-weight: bold;
}



.FooterlistUl {

    background: #E8F8FF;
    list-style: none;
    text-align: center;
    
}

.FooterlistUl li {
    height: auto;
    margin-top: 50px;
    
}

a {
    text-decoration: none;    
    color: black;
}

.LogoutBtn {
    border: none;
    background: #E8F8FF;
    color: gray;
    font-size: large;
    margin-top: 67px;
}

.LogoutBtn:hover, .LogoutBtn:focus, .LogoutBtn:active {
    text-decoration: none;
    font-weight: bold;
}

.footIcon{
    
    font-size: 20px;
}

/* 안 읽은 메시지 */
.newMessage {
    font-size: 12px;
    border-radius: 50%;
    padding: 3px;
    text-align: center;
    margin-left: 5px;
    color: #3dabeb;
    font-weight: bold;
}