.sidebar {
  width: 200px;

}

a {
  text-decoration: none;
  color: black;
}

.divBox {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  text-align: center;
  display: none;
  list-style: none;
  background: #FCFCFC;
}

.divBox ul {
  list-style: none;
}



.sideIcon {
  font-size: 3.5em;
}

.mui {
  font-size: xx-large;


}

.sideTitle1 {
  margin-top: 100px;
  font-size: xx-large;
  color: #B40000;
  margin-bottom: 20px;

}

.sideTitle2 {
  margin-top: 50px;
  font-size: xx-large;
  color: #B40000;
  margin-bottom: 20px;
}

.smallTitle {

  height: 50px;
  margin: 0 auto;
}

.smallTitle:hover {
  background-color: #D9D9D9;
  cursor: pointer;
}

.smallBox {
  margin-top: 150px;
}