.mrmodal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.mrmcontainer {
    position: absolute;
    width: 700px;
    height: 600px;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: -1px 0 #B3B3B3, 0 1px #B3B3B3, 1px 0 #B3B3B3, 0 -1px #B3B3B3;
    z-index: 1000;
}

.mrmtitle {
    font-size: 38px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
}

.mrmsender {
    font-size: 20px;
    margin-left: 15px;
}

.copy {
    background-color:#ffffff;
	border:none;
	display:inline-block;
	cursor:pointer;
    margin-left: 480px;
    color: #5ec0fd;

}

.mrmcontent {
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    height: 250px;
    font-family: 'S-CoreDream-3Light';
}

.mrmdate {
    float: right;
    margin-top: 10px;
    margin-right: 23px;
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
    color: #B3B3B3;
}

.mrmbtn {
    margin-left: 265px;
    margin-top: 30px;
}

.mrmokbtn {
    background-color:#5ec0fd;
	border-radius:10%;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
    margin-left: 10px;
    width: 60px;
    height: 40px;
}

.mrmocancelbtn {
    background-color:#B3B3B3;
	border-radius:10%;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
    margin-left: 10px;
    width: 60px;
    height: 40px;
}

.mrmreply {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 15px;
}

.mrmreceiver {
    font-size: 15px;
    margin-left: 15px;
}

.mrmrcontent {
    margin-left: 17px;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    width: 643px;
    height: 100px;
    resize: none;
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
}