.notice {
    width: 1470px;
    height: 100%;
    margin-left: 100px;
}

.text {
    font-size: 60px;
    border-bottom: 1px solid black;
}

.tableBox {
    width: 1300px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    
}

.notice1 {
    width: 1300px;
    height: auto;
    margin: 0 auto;
    border-left: none;
    border-right: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    
}

.notice1 tr{
    height: 30px;
    text-align: center;
    border-bottom: 1px solid black;
}

.pagingBtn{
    margin: 5px;
    border-radius: 50px;
    background-color: white;
    font-weight: bold;
}

.pagingBtn1{
    margin: 5px;
    width: 25px;
    height: 25px;
    border-radius: 7px;
    background-color: lightgray;
    /* font-weight: bold; */
}

.pagingBtn1:hover{
    cursor: pointer;
    background-color: burlywood;
    color: white;
}

.pagingBtn:hover{
    cursor: pointer;
    
}

.pagingDiv{
    height: 50px;
    width: 50px;
    
}

.buttonDiv button{
    
    margin-bottom: 5px;
    height: 30px;
    width: 100px;
    background-color: lightgray;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    float: right;
}

.buttonDiv button:hover{
    cursor: pointer;
    color: white;
}

