.reviewTableDiv {
    width: 1470px;
    height: 100%;
}


.reviewTableCss{
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
}

.reviewTableCss th, td {
    padding: 10px;
    height: 10px;
    text-align: center;
    word-break:break-all;
    table-layout:fixed;
}

.reviewTableCss tr:hover { 
    background-color: #F5F5F5; 
}

.reviewTableCss tr {
    cursor: pointer;
}

.pagingDiv{
    height: 50px
}

.pagingBtn{
    margin: 5px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}

.pagingBtn:hover{
    cursor: pointer;
    background-color: burlywood;
}
